
html {
    background-color: #FFF;
}
* {
    touch-action: none;
}
body {
    margin: 0;
    padding: 0;
}
.buttons {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
button {
    padding: 0;
    margin: 0;
    width: 150px;
    background: transparent;
    border: none;
    transition: all 0.2s ease-out;;
}
button:active {
    scale: 0.96;
}


.move {
    offset-path: path("M0.4375,104.793715 C0.4375,7.51601323 46.8197498,0.0575800155 88.4375,0.0575800155 C130.05525,0.0575800155 176.4375,-2.35047289 176.4375,94.8247636 C176.4375,192 0.4375,194.000483 0.4375,274.4375 C0.4375,354.874517 40.9813111,371.202263 88.4377102,371.202263 C135.894109,371.202263 176.4375,357.648023 176.4375,274.4375 C176.4375,191.226977 0.4375,202.071417 0.4375,104.793715 Z");
    animation: 15s linear infinite running move;
    offset-rotate: auto 90deg;
    margin-top: -50%;
}

@keyframes move {
    0% {
        offset-distance: 0;
    }
    100% {
        offset-distance: 100%;
    }
}
