
* {
    touch-action: none;
}
body {
    margin: 0;
    padding: 0;
}
.buttons {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    padding: 0;
    margin: 0;
    width: 150px;
    background: transparent;
    border: none;
}
button:active {
    scale: 0.96;
}


.move {
    animation: up-down 10s linear infinite;
}

@keyframes up-down {
    0%, 100% {
        margin-top: -150px;
    }
    50% {
        margin-top: 150px;
    }
}