#bar {
    width: 100%;
    height: 100%;
    display: flex;
}
.separator {
    border-right: 10px dashed #333;
}
#potato, #cheese {
    height: 100%;
    width: 50%;
    background-repeat: no-repeat;
    transition: width 0.2s ease-in-out;
    display: flex;
    justify-content: space-between;
}

#bar img {
    width: 100%;
}
.connected {
    font-size: 30px;
    line-height: 1;
    font-weight: bold;
    min-width: 2em;
    padding: 10px;
}
.score {
    font-size: 50px;
    line-height: 1;
    font-weight: bold;
    min-width: 2em;
    padding: 10px;
}
.connected {
    font-size: 20px;
}


#winner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
#winner img {
    width: 70%;
}

/* animation */
.near img {
    animation: shake 0.15s infinite;
}
@keyframes shake {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}
#winner img {
    max-width: 50%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    animation-name: bounce;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

@keyframes bounce {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-100px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}





#countdown {
    font-size: 40vw;
    text-transform: uppercase;
    font-family: impact, sans-serif;
    font-weight: 400;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#countdown div {
    position: absolute;
    opacity: 0;
    animation: switch 4s linear 1;
}

#countdown div:nth-child(1) {
    animation-delay: 1s;
    color: orange;
}

#countdown div:nth-child(2) {
    animation-delay: 2s;
    color: hotpink;
}

#countdown div:nth-child(3) {
    animation-delay: 3s;
    color: deepskyblue;
}

@keyframes switch {
    0% {
        opacity: 0;
        filter: blur(20px);
        transform: scale(4);
    }

    2% {
        opacity: 1;
        filter: blur(0);
        transform: scale(1);
    }

    3% {
        opacity: 1;
        filter: blur(0);
        transform: scale(1.1);
    }

    4% {
        opacity: 1;
        filter: blur(0);
        transform: scale(1);
    }

    20% {
        opacity: 1;
        filter: blur(0);
        transform: scale(0.9);
    }

    23% {
        opacity: 0;
        filter: blur(10px);
        transform: scale(0.1);
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}